@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

#titulo{
    font-family:"Poppinms", sans-serif;
    color: #fff;
    margin-left: 7%;
}

#subTitulo{
    font-family:"Poppinms", sans-serif;
    color: #2ecc71;
    margin-left: 10%;
}

#subTitulos{
    font-family: "Poppinms", sans-serif;
    color: #fff;

}

#senioIdade{
    background-color: #2ecc71;
    color: #fff;
    transition: 0.3s;
    border-radius: 4px;
}

#check{
    color: #fff;
}

.background{
    background: linear-gradient(rgba(0,0,0.5),rgba(0,0,0.5));
    background-image: url(capacapa.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 99vh;
}

header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

input, select, textarea{
    border-radius: 5px;
}

fieldset{
    border:0;
}

button{
    color: #2ecc71;
    background: transparent;
    border: solid 1px #2ecc71;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    width: 150px;
    cursor: pointer;
}
button:hover{
    background-color: #2ecc71;
    color: #fff;
    transition: 0.5s;
}
.cabeçalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
}

.cabeçalho-link a{
    color: #fff;
    font-size: 12px;
}

.cabeçalho-link a:hover{
    color: #2ecc71;
    transition: 0.3s all;
}
.logo{
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #2ecc71;
    color: #2ecc71;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}

.container-text{
    padding: 150px 0 0 130px;
}
.pag{
    justify-content: center;
}
.container-texts{
    padding: 20px 0 0 130px;
    color: #fff;
    margin-top: 5%;
}
.container-tex{
    padding: 150px 0 0 130px;
    color: #fff;
    margin-top: 5%;
}
.text h3 #titulos{
    color: #2ecc71;
    font-size: 15px;
}
.text h1{
    color: beige;
    margin-top: 10px;

}
.text spam{
    color: #2ecc71;
}
.text p{
    color:beige;
    font-size: 10px;
    font-weight: 300px;
    margin-top: 10px;
}
.rede-social{
    margin-top: 10px;
}
.rede-social a{
    color: #2ecc71;
    padding: 10px;
    margin-top: 10px;
}
.rede-socials{
    margin-top: 77px;
    font-size: 50px;
}
.rede-socials a{
    color: #2ecc71;
    padding: 10px;
    margin-top: 10px;
}
.sobremim > h3{
    color: #fff;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
}
